@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  font-weight: 700;

  box-sizing: border-box;
  position: relative;
  background: #0a0c0f;
  color: #ffffff;
}

img {
  position: relative;
}
.month-table img {
  width: 100%;
}
.month-table {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.boost {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
ul {
  padding: 0; /* Убираем поля */
  margin-left: 0px; /* Отступ слева */
}
li {
  list-style-type: none;
}
main {
  padding: 0px 20px 20px 20px;
}
h1 {
  font-size: 4.8rem;
  margin: 40px 0px;
}
h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.36);
}
p a {
  text-decoration: none;
  color: #ffffff;
}
.logo {
  margin: 14px 20px;
}
.menu {
  float: right;
  position: relative;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
  margin: 10px 20px;
}
.button a {
  background: #ffffff;
  border-radius: 16px;
  color: #0a0c0f;

  font-weight: 700;
  line-height: 3.2rem;
  font-size: 2.4rem;

  text-decoration: none;

  width: 25.1rem;
  height: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
}
.submit {
  background: #ffffff;
  border-radius: 16px;
  color: #0a0c0f;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 3.2rem;
  font-size: 2.4rem;
  width: 25.1rem;
  height: 8rem;
}
form{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 720px) {
  .month-table {
    flex-direction: column;
  }
  .boost {
    flex-direction: column;
  }
  .month-table img {
    width: 60%;
  }
  .button, form {
    justify-content: left;
  }
  .button a, .submit{
    font-weight: 600;
    line-height: 2.4rem;
    font-size: 1.6rem;
    width: 32rem;
    height: 4.8rem;
  }
}
